---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>In Preparation</h2>
<ol reversed>

<li><strong>Zhou, H.</strong>, Negi, P., Ramos, E.J., Nutt, M.R., Scheingross, J.S., Torres, M.A., in prep. Stratigraphic variations in mineralogy affect the carbon budget of shale weathering.</li>
 

</ol>

<h2>In Review</h2>
<ol reversed>

<li>Preoteasa, L., Vespremeanu–Stroe, A., Tutuianu, L.F., Hanganu, D., Formáčková, A., Hamerlík, L., Jakab, G., Ilie, M., Mănăilescu, C., Popescu, R.A., Vasile, A., Stoicescu, D., <strong>Zhou, H.</strong>, Magyari, E., in reivew. The Bâlea Lake Record: 15,000 Years of Debris–Flow Activity and Alpine Sedimentation Sensitivity to Climate and Human–Induced Ecological Change. Catena.</li>

<li>Jemison, N.E., Winnick, M.J., Muñoz, S., Ibarra, D., Torres, M.A., <strong>Zhou, H.</strong>, Williams, K.H., Ramos, E.J., in reivew. Reconciling the role of clay mineral formation on net alkalinity: Insights from reactive transport models of shale, granite, and basalt. Geochimica et Cosmochimica Acta.</li>

</ol>

<h2>Published</h2>
<ol reversed>

<li><strong>Zhou, H.</strong>, Costin, G., Birdwell, J.E., Hackley, P.C., Minisini, D., Terlier, T., Torres, M.A., 2025. Using the X-ray spectrum of carbon in electron micro-probe analysis to determine thermal maturity of organic matter in mudstones. Geostandards and Geoanalytical Research. [<a href="https://doi.org/10.1111/ggr.12611" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Zhou, H.</strong>, Torres, M.A., Harris, N.B., Costin, G., Terlier, T., 2024. Apportioning the molybdenum budget in shales to improve paleoenvironmental interpretations. Geochimica et Cosmochimica Acta. [<a href="https://doi.org/10.1016/j.gca.2024.01.027" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
<li><strong>Zhou, H.</strong>, Harris, N.B., Dong, T., Ayranci, K., Feng, J., Rivard, B., Hackley, P.C., Hatcherian, J., 2021. New insights into organic matter accumulation from high-resolution geochemical analysis of a black shale: Middle and Upper Devonian Horn River Group, Canada. GSA Bulletin. [<a href="https://doi.org/10.1130/B36091.1" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

</p> 





